# Use turi create to build recommender system

In [1]:
import turicreate as tc

In [2]:
actions = tc.SFrame.read_csv('/Users/adam/Documents/Data/ml-latest-small/ratings.csv')

Finished parsing file /Users/adam/Documents/Data/ml-latest-small/ratings.csv

Parsing completed. Parsed 100 lines in 0.055229 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,float,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/adam/Documents/Data/ml-latest-small/ratings.csv

Parsing completed. Parsed 100004 lines in 0.052409 secs.

In [3]:
actions

Columns:
	userId	int
	movieId	int
	rating	float
	timestamp	int

Rows: 100004

Data:
+--------+---------+--------+------------+
| userId | movieId | rating | timestamp  |
+--------+---------+--------+------------+
|   1    |    31   |  2.5   | 1260759144 |
|   1    |   1029  |  3.0   | 1260759179 |
|   1    |   1061  |  3.0   | 1260759182 |
|   1    |   1129  |  2.0   | 1260759185 |
|   1    |   1172  |  4.0   | 1260759205 |
|   1    |   1263  |  2.0   | 1260759151 |
|   1    |   1287  |  2.0   | 1260759187 |
|   1    |   1293  |  2.0   | 1260759148 |
|   1    |   1339  |  3.5   | 1260759125 |
|   1    |   1343  |  2.0   | 1260759131 |
+--------+---------+--------+------------+
[100004 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
items = tc.SFrame.read_csv('/Users/adam/Documents/Data/ml-latest-small/movies.csv')

Finished parsing file /Users/adam/Documents/Data/ml-latest-small/movies.csv

Parsing completed. Parsed 100 lines in 0.017945 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/adam/Documents/Data/ml-latest-small/movies.csv

Parsing completed. Parsed 9125 lines in 0.017937 secs.

In [5]:
items

Columns:
	movieId	int
	title	str
	genres	str

Rows: 9125

Data:
+---------+-------------------------------+-------------------------------+
| movieId |             title             |             genres            |
+---------+-------------------------------+-------------------------------+
|    1    |        Toy Story (1995)       | Adventure|Animation|Childr... |
|    2    |         Jumanji (1995)        |   Adventure|Children|Fantasy  |
|    3    |    Grumpier Old Men (1995)    |         Comedy|Romance        |
|    4    |    Waiting to Exhale (1995)   |      Comedy|Drama|Romance     |
|    5    | Father of the Bride Part I... |             Comedy            |
|    6    |          Heat (1995)          |     Action|Crime|Thriller     |
|    7    |         Sabrina (1995)        |         Comedy|Romance        |
|    8    |      Tom and Huck (1995)      |       Adventure|Children      |
|    9    |      Sudden Death (1995)      |             Action            |
|    10   |        GoldenEye (1995)       |   Action|Adventure|Thriller   |
+---------+-------------------------------+-------------------------------+
[9125 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Make recommender --> Default Item_Similarity

In [7]:
# Split Data into training/ validation set
training_data, validation_data = tc.recommender.util.random_split_by_user(actions, 'userId', 'movieId')

#Make the model
model = tc.recommender.create(training_data, 'userId', 'movieId')

Recsys training: model = item_similarity

Warning: Ignoring columns rating, timestamp;

    To use one of these as a target column, set target = <column_name>

    and use a method that allows the use of a target.

Preparing data set.

    Data has 80004 observations with 671 users and 8393 items.

    Data prepared in: 0.058552s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 3.585ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 179.72ms                            | 0                | 0               |

| 456.465ms                           | 100              | 8393            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.47262s

In [8]:
# Recommend could show the recommend output
results = model.recommend()

In [9]:
results

Columns:
	userId	int
	movieId	int
	score	float
	rank	int

Rows: 6710

Data:
+--------+---------+---------------------+------+
| userId | movieId |        score        | rank |
+--------+---------+---------------------+------+
|   1    |   2134  | 0.10373338311910629 |  1   |
|   1    |   2406  | 0.10285235196352005 |  2   |
|   1    |   3253  | 0.09723696112632751 |  3   |
|   1    |   1302  |  0.0961160883307457 |  4   |
|   1    |   2289  |  0.0941903181374073 |  5   |
|   1    |   3361  | 0.08749673888087273 |  6   |
|   1    |   2915  | 0.08730382844805717 |  7   |
|   1    |   1129  | 0.07741425931453705 |  8   |
|   1    |   1304  | 0.07513660565018654 |  9   |
|   1    |   3504  | 0.07480166479945183 |  10  |
+--------+---------+---------------------+------+
[6710 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
# recommend could assign the user_id in to the model
# 用Ｋ來控制預測的商品數量
user = tc.SArray([1,2])
model.recommend(users=user,k=3)

Columns:
	userId	int
	movieId	int
	score	float
	rank	int

Rows: 6

Data:
+--------+---------+---------------------+------+
| userId | movieId |        score        | rank |
+--------+---------+---------------------+------+
|   1    |   2134  | 0.10373338311910629 |  1   |
|   1    |   2406  | 0.10285235196352005 |  2   |
|   1    |   3253  | 0.09723696112632751 |  3   |
|   2    |   597   |  0.1744837949673335 |  1   |
|   2    |   380   | 0.16863199671109516 |  2   |
|   2    |   434   | 0.16169718702634175 |  3   |
+--------+---------+---------------------+------+
[6 rows x 4 columns]

---
## Item Similarity 針對新user 的使用

`m_item_sim = turicreate.item_similarity_recommender.create(data)
new_obs_data = turicreate.SFrame({'user_id' : ['Charlie', 'Charlie'], 'item_id' : ['Item1', 'Item5']})
recommendations = m_item_sim.recommend(['Charlie'], new_observation_data = new_obs_data)`

----
# Facorization recommender system and some detail

In [20]:
data = tc.SFrame({'user_id': ["Ann", "Ann", "Ann", "Brian", "Brian", "Brian",'John'],
                          'item_id': ["Item1", "Item2", "Item4", "Item2", "Item3", "Item5",'Item6'],
                          'rating': [1, 3, 2, 5, 4, 2,1]})

# 相關的資料要assign 進model 裡面
# 可以另外在model 中assign user 與 item 的相關資訊
# user_data -> user side information
# Item_data -> item side information
# num_factors -> 用多少維度來描述feature
# regularization -> l2 regularization
# linear_regularization -> linear term of regularization
# side_data_factorization -> 額外的information
# binary_target -> If target only 1 & 0, set it True
# max_iterations -> 訓練次數
# sgd_step_size -> learning rate
m = tc.factorization_recommender.create(data, target='rating', user_id='user_id', item_id='item_id')

recommendations = m.recommend()

Recsys training: model = factorization_recommender

Preparing data set.

    Data has 7 observations with 3 users and 6 items.

    Data prepared in: 0.004582s

Training factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 8        |

| regularization                 | L2 Regularization on Factors                     | 1e-08    |

| solver                         | Solver used for training                         | sgd      |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-10    |

| max_iterations                 | Maximum Number of Iterations                     | 50       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 7 / 7 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 25                | Not Viable                               |

| 1       | 6.25              | No Decrease (75.91 >= 1.95906)           |

| 2       | 1.5625            | 0.33868                                  |

| 3       | 0.78125           | 0.0037787                                |

| 4       | 0.390625          | 0.0103404                                |

+---------+-------------------+------------------------------------------+

| Final   | 0.78125           | 0.0037787                                |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 85us         | 1.95906           | 1.39966               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 912us        | 2.29989           | 1.51654               | 0.78125     |

| 2       | 1.742ms      | 0.237136          | 0.486966              | 0.464534    |

| 3       | 2.429ms      | 0.358582          | 0.598817              | 0.342728    |

| 4       | 3.187ms      | 0.333174          | 0.577212              | 0.232267    |

| 5       | 3.876ms      | 0.0456125         | 0.213571              | 0.165214    |

| 6       | 4.494ms      | 0.0335568         | 0.183185              | 0.121173    |

| 11      | 7.645ms      | 0.0132437         | 0.115081              | 0.0769083   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 0.00152555

       Final training RMSE: 0.0390582

In [21]:
#指定特定的user 來predict
recommendations = m.recommend(users=['Brian'])
recommendations

Columns:
	user_id	str
	item_id	str
	score	float
	rank	int

Rows: 3

Data:
+---------+---------+--------------------+------+
| user_id | item_id |       score        | rank |
+---------+---------+--------------------+------+
|  Brian  |  Item4  | 3.846168432916914  |  1   |
|  Brian  |  Item1  | 2.846568558897291  |  2   |
|  Brian  |  Item6  | 2.7908819062369212 |  3   |
+---------+---------+--------------------+------+
[3 rows x 4 columns]

In [22]:
# 取出相似的item
similar_item = m.get_similar_items(k=3); similar_item

Columns:
	item_id	str
	similar	str
	score	float
	rank	int

Rows: 18

Data:
+---------+---------+---------------------+------+
| item_id | similar |        score        | rank |
+---------+---------+---------------------+------+
|  Item1  |  Item4  |  0.9996556043624878 |  1   |
|  Item1  |  Item5  |  0.8124059438705444 |  2   |
|  Item1  |  Item3  |  0.7372922897338867 |  3   |
|  Item2  |  Item6  |  0.1343141347169876 |  1   |
|  Item2  |  Item3  | -0.7382523417472839 |  2   |
|  Item2  |  Item5  |  -0.820690393447876 |  3   |
|  Item4  |  Item1  |  0.9996556043624878 |  1   |
|  Item4  |  Item5  |  0.8069642782211304 |  2   |
|  Item4  |  Item3  |  0.7431356310844421 |  3   |
|  Item3  |  Item4  |  0.7431356310844421 |  1   |
+---------+---------+---------------------+------+
[18 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [23]:
similar_user = m.get_similar_users(k=3); similar_user

Getting similar users completed in 0.000767

Columns:
	user_id	str
	similar	str
	score	float
	rank	int

Rows: 6

Data:
+---------+---------+----------------------+------+
| user_id | similar |        score         | rank |
+---------+---------+----------------------+------+
|   Ann   |   John  | -0.02895570546388626 |  1   |
|   Ann   |  Brian  | -0.9774191975593567  |  2   |
|  Brian  |   John  | -0.07271286845207214 |  1   |
|  Brian  |   Ann   | -0.9774191975593567  |  2   |
|   John  |   Ann   | -0.02895570546388626 |  1   |
|   John  |  Brian  | -0.07271286845207214 |  2   |
+---------+---------+----------------------+------+
[6 rows x 4 columns]

In [25]:
# 顯示每個user 有評過幾個item
num_items = m.get_num_items_per_user(); num_items

Columns:
	user_id	str
	num_items	int

Rows: 3

Data:
+---------+-----------+
| user_id | num_items |
+---------+-----------+
|   Ann   |     3     |
|  Brian  |     3     |
|   John  |     1     |
+---------+-----------+
[3 rows x 2 columns]

In [27]:
# 顯示每一個item 有多少個user 
num_user = m.get_num_users_per_item(); num_user

Columns:
	item_id	str
	num_users	int

Rows: 6

Data:
+---------+-----------+
| item_id | num_users |
+---------+-----------+
|  Item1  |     1     |
|  Item2  |     2     |
|  Item4  |     1     |
|  Item3  |     1     |
|  Item5  |     1     |
|  Item6  |     1     |
+---------+-----------+
[6 rows x 2 columns]

In [30]:
# 針對新的user, 會直接依照popularity 來計算
m.recommend(['Charlie'])

Columns:
	user_id	str
	item_id	str
	score	float
	rank	int

Rows: 6

Data:
+---------+---------+--------------------+------+
| user_id | item_id |       score        | rank |
+---------+---------+--------------------+------+
| Charlie |  Item2  | 3.930126462663923  |  1   |
| Charlie |  Item3  | 3.018802855695997  |  2   |
| Charlie |  Item4  | 2.841150407280241  |  3   |
| Charlie |  Item1  | 1.8415466887610301 |  4   |
| Charlie |  Item6  | 1.7858559233801707 |  5   |
| Charlie |  Item5  | 1.018294964517866  |  6   |
+---------+---------+--------------------+------+
[6 rows x 4 columns]

In [31]:
# 秀出每一個item 與 user 對應的coefficient
m.coefficients

{'intercept': 2.5714285714285716, 'item_id': Columns:
 	item_id	str
 	linear_terms	float
 	factors	array

 Rows: 6

 Data:
 +---------+---------------------+-------------------------------+
 | item_id |     linear_terms    |            factors            |
 +---------+---------------------+-------------------------------+
 |  Item1  | -0.7298818826675415 | [0.0009988181991502643, 0.... |
 |  Item2  |  1.3586978912353516 | [-0.0018709871219471097, -... |
 |  Item4  |  0.2697218358516693 | [0.0019414748530834913, 0.... |
 |  Item3  | 0.44737428426742554 | [0.00014500715769827366, -... |
 |  Item5  | -1.5531336069107056 | [5.300277553033084e-05, 0.... |
 |  Item6  | -0.7855726480484009 | [-6.551241682473119e-08, -... |
 +---------+---------------------+-------------------------------+
 [6 rows x 3 columns], 'user_id': Columns:
 	user_id	str
 	linear_terms	float
 	factors	array

 Rows: 3

 Data:
 +---------+---------------------+-------------------------------+
 | user_id |     linear_terms    |            factors            |
 +---------+---------------------+-------------------------------+
 |   Ann   | -0.8647982478141785 | [0.002720473101362586, 0.0... |
 |  Brian  |  1.0050259828567505 | [-0.000704276782926172, -0... |
 |   John  | -0.7858563661575317 | [2.588442669093638e-07, -2... |
 +---------+---------------------+-------------------------------+
 [3 rows x 3 columns]}

In [34]:
# 只推薦特定的物品給user
item_subset = tc.SArray(["Item3", "Item5", "Item2"])
recommendations = m.recommend(['Ann'], items = item_subset)
recommendations

Columns:
	user_id	str
	item_id	str
	score	float
	rank	int

Rows: 2

Data:
+---------+---------+--------------------+------+
| user_id | item_id |       score        | rank |
+---------+---------+--------------------+------+
|   Ann   |  Item3  | 2.1540080649512157 |  1   |
|   Ann   |  Item5  | 0.1534988624708995 |  2   |
+---------+---------+--------------------+------+
[2 rows x 4 columns]

-----

## 加入user 與 item的限制條件

例如這邊可以只選特定城市的user 與 商品來recommend:  
`country = 'United States'
m.recommend(users=users['user_id'][users['country']==country].unique(),
            items=items['item_id'][items['country']==country])`

---

## 針對user 額外的資訊(side information)，要另外建立一個Frame來參照

`user_info = turicreate.SFrame({'user_id': ['Ann', 'Brian'],'age_category': ['2', '3']})
m_side_info = turicreate.factorization_recommender.create(data, target='rating',user_data=user_info)`

---
## 針對新user 的預測，Side information 也要另外建立一個Frame參照
`
new_user_info = turicreate.SFrame({'user_id' : ['Charlie'], 'age_category' : ['2']})
recommendations = m_side_info.recommend(['Charlie'],new_user_data = new_user_info)`

---                                        
## Side Information 只能使用在下面兩種model:
1.  LinearRegressionModel
2. FactorizationRecommender.

---
## 可以用exclude排除掉被user 不要的items
`
exclude_pairs = turicreate.SFrame({'user_id' : ['Ann'], 'item_id' : ['Item3']})
recommendations = m.recommend(['Ann'], k = 5, exclude = exclude_pairs)`

---
## 存取與讀取模型
model.save("my_model.model")  
model = tc.load_model("my_model.model")